$black : #212121;
$red : #ff4757;
$yellow: #ffcc66;
$black : #212121;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {box-sizing: border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	color: $black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}		

header{position: fixed;top:0;height: 10%;left: 20%;font-family: arial;padding: 20px;width:100%;}
h1{font-size: 28px;}

nav{
	position:fixed;
	left:0;
	top:0;
	height:100%;
	z-index: 5;
	background:rgba($black,0.6);
	overflow-y: auto;
	min-width:20%;
	ul{padding:20px 0 0 0;}
	a{padding: 7px 15px;color:#fff;list-style:none;font:14px arial;cursor: pointer;text-decoration: none;display: block;}
	li:not(.category) a:hover{background:  rgba(0,0,0,0.8);}
}
.category a{pointer-events: none;text-decoration: underline;font-size: 16px;font-style: italic;color:rgba($yellow,0.4);}
main{margin:10% 0 0 0;left:20%;padding:20px;background: #f0f0f0;height:90%;position: fixed;width:80%;}
code{background:rgba($yellow,0.5);color: $black;font-style: italic;font-size: 12px;padding: 15px;margin:0 0 0 0;border-left:5px solid blue;display: block; }
		 
		